extends layout

block content
  div.container
    h1= title
    
    div.contianer
      form(method='POST' enctype="multipart/form-data" action='')
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='Name' name='name' required='true' value=(undefined===category ? '' : category.name) )
        div.form-group
          label(for='imageURL') Image:
          input#imageURL.form-control(type='file', placeholder='image' name='imageURL' required='true' value=(undefined===category ? '' : category.imageURL) )
        button.btn.btn-primary(type='submit') Submit

      if errors
        ul
          for error in errors
            li!= error.msg

      button(onclick='window.history.back()') Back